book = instance.book

.book_show
  img.cover(src=book.coverUrl, alt=book.title)
  .info
    h3 ISBN: #{book.ISBN}
    h4 Title: #{book.title}
    h4 rental price: #{book.rentalPrice} $
  
    if(instance.freeOn < new Date())
      input(type='button', value="rent", onclick="app.rentPopup('#{instance.book._id}');")
    else
      p somebody already rented this book instance