div.book_box
  img.cover(src=book.coverUrl, alt=book.title)
  | ISBN: #{book.ISBN}
  | Title: #{book.title}
  br
  if (book.instancesNum > 0)
    span.rent_button
      a(href="javascript:app.rentPopup('#{book._id}')")
        | Rent
  | 
  span(class = book.instancesNum > 0 ? 'purchase_button' : 'purchase_only_button')
    a(href="javascript:alert('Amazon Purchase')")
      | Purchase