div#viewer
  #popup_info
    img.cover_popup(src=book.coverUrl, alt=book.title)
    <br/> Title: #{book.title}
    <br/> ISBN: #{book.ISBN}
    <br/> Author: #{book.author}

    <br/> Tags: 
    each tag in book.tags
      span.tag #{tag.name} 
    <br/> Publisher: #{book.publisher} , #{book.publishDate}
    <br/> Market price: #{book.marketPrice} $
    <br/> Rental price: #{book.rentalPrice} $
    form(id='rental_form')
      if (book.instancesNum > book.borrowedNum)
        input(type='number', value='1', min='1', max='5', name='instance[days]')
        |  Days
        p: a(href="javascript:app.rentRequest()") Rent now

      else
        | Not available for renting

      p: a(href="javascript:alert('Purchase action')") Purchase now

  #amazon_reviews
    | HONGA