extends layout

append head
  script(src='#{staticPrefix}/js/app.js')
  script
    $(function() {
      $('#general_filter_2').buttonset();
    });

block content
  if everyauth.user
    p Email: #{everyauth.user.email}

  #search_bar
    select#product_criteria
      option(value= 'title', selected) Title
      option(value= 'ISBN') ISBN
      option(value= 'author') Author

    input#query_text(type='text', value="Search")
    input(type='button', value="GO", onclick="app.loadSearch();")


  // !=partial('fields', { locals: { d: d } })
  #sidebar
    | Categories
    .tag: a(href="javascript:app.loadTag()") All
    each tag in tags
      .tag: a(href="javascript:app.loadTag('#{tag._id}')") #{tag.name} (#{tag.frequency})

  #center_box
    #general_filter_2
      input(type="radio", id="filter_newest", checked="checked", name="radio")
      label(for="filter_newest")
        | Newest Books
      input(type="radio", id="filter_most_rented", name="radio")
      label(for="filter_most_rented")
        | Most Rented Books

    #shelf_box
      each book in newlyCreated
        include books/book