extends layout

append head
  script(src='#{staticPrefix}/js/app.js')

block content
  if everyauth.user
    p Email: #{everyauth.user.email}

  #search_bar
    select#product_criteria
      option(value= 'title', selected) Title
      option(value= 'ISBN') ISBN
      option(value= 'author') Author

    input#query_text(type='text', value="Search")
    input(type='button', value="GO", onclick="app.loadSearch('shelf_box');")


  // !=partial('fields', { locals: { d: d } })
  #sidebar
    | Categories
    .tag: a(href="javascript:app.load('shelf_box', '/books/')") All
    each tag in tags
      .tag: a(href="javascript:app.loadTag('shelf_box', '#{tag._id}')") #{tag.name} (#{tag.frequency})
  
  #center_box
    select#general_filter
      option(value='most_rented', selected) Most rented books
      option(value='newest') Newest Books
    
    #shelf_box
      each book in mostRented
        include books/book