h2 Login
div#login_err_div(style='display:none;')
  | Please Enter Data!
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form#login_form(action='/login', method='post')
  #login
    label(for=everyauth.password.loginFormFieldName) Login
    br
    input#login_mail_input(type='email', name=everyauth.password.loginFormFieldName)
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    br
    input#login_pass_input(type='password', name=everyauth.password.passwordFormFieldName)
  #submit
    input(type='submit') Login