h2 Register
div#errors_div(style="display:none;")
    | Please Enter Data!
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form#register_form(action='/register', method='post')
  #login
    label(for=everyauth.password.loginFormFieldName) Email
    br
    input#email_input(type='email', name=everyauth.password.loginFormFieldName)
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    br
    input#password_input(type='password', name=everyauth.password.passwordFormFieldName)
  #confirm_password
    label(for='confirm_password_input') Password
    br
    input#confirm_password_input(type='password', name='')
  #submit
    input(type='submit') Register